@keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.gif {
  width: 100%;
}
.hero-text {
  font-size: 3rem; /* Adjust as needed */
  font-weight: bold;
  background: transparent;
  text-align: center;
  font-family: "Sometype Mono", serif;
}

.gradient-text {
  color: #ff4c4c;
}
.school-text {
  background: linear-gradient(to top, #ff5f05, #13294b); /* Gradient colors */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  animation: backgroundAnimation 3s ease infinite; /* Added animation */
}

/* Keyframe for Gradient Animation */
@keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#welcome .inner {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center all child elements horizontally */
  padding-top: 0;
  position: relative;
}
#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#welcome body.no-scroll {
  overflow: hidden;
  position: relative;
}
#welcome {
  position: relative;
}
