.contact-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 2rem;
    padding: 1rem 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .contact-item {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the text and icons */
    margin: 0 1rem;
    text-align: center; /* Ensures proper alignment */
    flex: 1; /* Allows items to scale evenly */
  }
  
  .contact-item h3 {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #fff;
  }
  
  .contact-item p {
    font-size: 1rem;
    color: #fff;
    margin: 0;
  }
  
  .social-icons {
    display: flex;
    gap: 1rem;
    justify-content: center; /* Centers the icons */
  }
  
  .social-icons a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s ease;
    transition: transform 0.3s ease-in-out;
  }
  
  .social-icons a:hover {
    color: #00FF00;
    transform: scale(1.1);
  }
  