/* Scope the styles only to the Technologies component */
#technologies .wrapper {
  padding: 2rem;
  background-color: #1a1a1a;
  color: #ffffff;
}

#technologies h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

#technologies h3 {
  text-align: center;
  font-size: 1.75rem;
  margin: 2rem 0 1rem;
}

#technologies .technologies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
  align-items: center; /* Ensure child items align properly */
  gap: 3rem;
  border-radius: 8px;
  border: 1px solid #ffffff; /* Add a white border */
  padding: 1rem; /* Add padding to prevent content overlap with the border */
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width/height */
}


#technologies .technology-section {
  flex: 1 1 45%;
  min-width: 300px;
}

#technologies .technologies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 1.5rem;
  justify-items: center;
  align-items: center;
}

#technologies .tech-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

#technologies .tech-item img {
  width: 50px;
  height: 50px;
  margin-bottom: 0.5rem;
}

#technologies .tech-item i {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

#technologies .tech-item p {
  font-size: 0.9rem;
}

#technologies .tech-item:hover {
  transform: scale(1.1);
}
@media (min-width: 768px) {
  #technologies .technologies-grid {
    grid-template-columns: repeat(4, 1fr); /* Max 4 columns on wider screens */
  }
}
#technologies .inner {
  padding-top: 0;
  padding-bottom: 10rem;
}
/* Vertical Divider */
.divider {
  width: 1px;
  background-color: #ddd; /* Light grey color for the divider */
  height: 220px; /* Set an explicit height */
  margin: auto 0; /* Center the divider vertically */
  align-self: center; /* Ensure it aligns within the flex container */
}

@media (max-width: 768px) {
  .divider {
    display: none; /* Hide the divider on smaller screens */
  }
  #technologies .technologies-container{
    border: none;
  }
}
