@keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.hero-section {
  background: linear-gradient(45deg, #121212, #2e2e2e);
  background-size: 400% 400%;
  animation: backgroundAnimation 3s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-text {
  animation: fadeIn 2s ease-out;
  text-align: left;
}

html {
  scroll-behavior: smooth;
}
