html,
body {
  scroll-behavior: smooth;
  background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  text-align: center;
}
/* ::-webkit-scrollbar {
  width: 0;
  background: transparent;
} */
