.img{
width: 100px;
height: 100px;
transform: rotate(90deg);
}
/* creates a container and centers everything */
.container {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
height: 100vh;
}
